<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8"/>
    <title><%= title%></title>
    <link rel="stylesheet" href="/client/css/index.css" type="text/css"/>
    <script src="/client/js/jquery-1.7.min.js"></script>
    <link rel="stylesheet" href="/client/css/home.css" type="text/css"/>
</head>
<body>
<div id="tool-bar">
    <ul>
        <li>首页</li>
        <li>查看</li>
        <li>搜索</li>
        <li class="right"><a href="/logout">退出</a></li>
        <li class="right"><%= user.username%></li>
        <li class="right"><a href="/upload">上传视频</a></li>

    </ul>
</div>
<div id="photo-box" class="container">
    <div class="typeVideo">
        <div class="titleVideo">音乐MV</div>
        <div class="boxVideo">
            <a class="photo" target="_blank" href="/playvdo">
                <div class="content">
                </div>
                <div class="content-mask">
                    <div class="content-play"></div>
                </div>
            </a>
        </div>
    </div>
</div>
<script>
  /*  alert('1');
    Minigrid('#photo-box', '.photo', 20, null,
        function() {
        alert('2');
            //更新后回调
        });//瀑布流插件初始化
    window.addEventListener('resize', function() {//窗口大小改变自动排版
        minigrid('#photo-box', '.photo');
    });*/

</script>
<script type="text/javascript" src="/client/js/main/home.js"></script>
</body>
</html>