<% include header.html %>
<div id="main-content" class="main-content">
    <div id="left-content" class="left-content">
        <div id="left-inner">
            <img src="/client/img/login_2.jpg"/>
        </div>
    </div>
    <div class="division"></div>
    <div id="right-content" class="right-content">
        <div id="right-inner" class="box-shade">
            <form action="/login" method="post" id="login-form" class="login-inner">
                <div class="wrapper">
                    <label>用户名:</label>
                    <input id="username" name="username" type="text"/>
                </div>
                <div class="wrapper">
                    <label>密码:</label>
                    <input id="password" name="password" type="password"/>
                </div>
                <div class="btn-wrapper">
                    <a class="btn login" id="btn-login">登录</a>
                    <a class="btn register" id="btn-register">注册</a>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="footer">Copyright belongs to hmt</div>
<script type="text/javascript" src="/client/js/jquery-1.7.min.js"></script>
<script type="text/javascript" src="/client/js/main/index.js"></script>
</body>
</html>
