body, p, ul, li, span, div{
    padding: 0;
    margin: 0;
}
a, li a {
    text-decoration: none;
    outline:none;
    color: white;
}
a:hover, a:visited{
    text-decoration: none;
}
body {
    font-family: "Microsoft Yahei";
    min-width: 1195px;
    height: 100%;
}
#tool-bar{
    background-color: cadetblue;
    color: white;
    height: 50px;
}
#tool-bar ul{
    width: 1195px;
    margin: 0 auto;
    overflow: hidden;
}
#tool-bar li{
    list-style: none;
    line-height: 50px;
    width: 70px;
    text-align: left;
    float: left;
}
#tool-bar .right{
    float: right;
    color: white;
}
#tool-bar li:hover{
    cursor: pointer;
    font-weight: bold;
}
.wrapper{
    margin: 10px 0px;
    height: 60px;
}
.wrapper input{
    display: inline-block;
    height: 30px;
    width: 205px;
    -web-kit-appearance:none;
    -moz-appearance: none;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
    outline: 0;
    border-radius:4px;
    border:1px solid #c8cccf;
    color:#6a6f77;
    padding-left: 4px;
}
.wrapper textarea{
    ontline: 0;
    border-radius:4px;
    border:1px solid #c8cccf;
    color:#6a6f77;
    padding-left: 4px;
    resize: none;
    width: 350px;
    padding: 5px;
}
.wrapper input:focus, .wrapper textarea:focus{
    -webkit-box-shadow:0 0 10px rgba(95, 158, 160, .5);
    -moz-box-shadow:0 0 10px rgba(95, 158, 160, .5);
    box-shadow:0 0 10px rgba(95, 158, 160, .5);
}
.wrapper label{
    width: 60px;
    display: inline-block;
    color: cadetblue;
    font-weight: bold;
}
.wrapper .label-upload{
    width: 100px;
    display: inline-block;
    color: cadetblue;
    font-weight: normal;
}
.upload-title{
    color: cadetblue;
    font-weight: bold;
}
.login-inner{
    height: 250px;
}
.main-content{
    width: 1195px;
    margin: 0 auto;
    overflow: hidden;
    margin-top: 50px;
}
.left-content{
    width: 750px;
    margin-left: 10px;
    float: left;
}
.right-content{
    width:  320px;
    float: right;
    padding: 50px 20px;
}
.right-inner.box-shade{
    -webkit-box-shadow:0 0 10px rgba(192, 192, 192, .5);
    -moz-box-shadow:0 0 10px rgba(192, 192, 192, .5);
    box-shadow:0 0 10px rgba(192, 192, 192, .5);
}
.left-content #left-inner img{
    height: 500px;
    width: 500px;
    margin-left: 60px;
}
#right-inner{
    margin-top: 60px;
    padding: 20px;
}
.division{
    float: left;
    height: 500px;
    width: 1px;
    background-color: rgba(192, 192, 192, .5);
}
.footer{
    position: fixed;
    bottom: 0;
    height: 50px;
    width: 100%;
    background-color: #eeeeee;
    color: #777777;
    text-align: center;
    line-height: 50px;
    font-size: 12px;
}
.btn{
    height: 40px;
    display: block;
    background-color: rgba(95, 158, 160, .8);
    line-height: 40px;
    color: white;
    text-align: center;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    margin-bottom: 10px;
}
.btn:hover{
    background-color: cadetblue;
    cursor: pointer;
}

/*upload input*/
.input-upload{
    padding: 4px 10px;
    height: 24px;
    line-height: 24px;
    cursor: pointer;
    color: #888;
    background: #fafafa;
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow: hidden;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    position: relative;
}
.input-upload input{
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: pointer
}
.input-upload:hover{
    color: #444;
    background: #eee;
    border-color: #ccc;
    text-decoration: none
}
.upload-div{
    margin-top: 25px;
}
#btn-upload{
    width: 200px;
    margin-top: 50px;
    margin-left: 100px;
}