body, p, ul, li, span, div{
    padding: 0;
    margin: 0;
}
#tool-bar{
    background-color: cadetblue;
    color: white;
}
.wrapper{
    margin: 10px 0px;
}
.wrapper input{
    display: inline-block;
}
.wrapper label{
    width: 60px;
    display: inline-block;
}
.login-inner{
    width: 250px;
    height: 300px;
}