body, p, ul, li, span, div{
    padding: 0;
    margin: 0;
}
#main-content{
    width: 1195px;
    margin: 0 auto;
    overflow: hidden;
    margin-top: 15px;
}
#content-right{
    width: 880px;
    margin-right: 10px;
    float: left;
}
#content-left{
    width: 298px;
    float: right;
    margin-left: -100%;
}
.listOuter{
    width: 60px;
    float: left;
}
/*message box*/
#msgBox{
    height: 400px;
    width: 298px;
    background-color: gainsboro;
    padding: 5px;
    overflow: scroll;
}
#messages{
    font-size: 10px;
    background-color: gainsboro;
    color: #999999;
}
/*control bar*/
#controls-bar{
    color: #000;
}