body, p, ul, li, span, div{
    padding: 0;
    margin: 0;
}
#main-content{
    width: 1195px;
    margin: 0 auto;
    overflow: hidden;
    margin-top: 15px;
}
#content-right{
    width: 880px;
    margin-right: 10px;
    float: left;
}
#content-left{
    width: 298px;
    float: right;
    margin-left: -100%;
}
.listOuter{
    width: 60px;
    float: left;
}
/*message box*/
#msgBox{
    height: 400px;
    width: 298px;
    background-color: gainsboro;
    padding: 5px;
    overflow: scroll;
}
#messages{
    font-size: 10px;
    background-color: gainsboro;
    color: #999999;
}
/*control bar*/
#controls-bar{
    color: #000;
    position: absolute;
    bottom: 0;
    overflow: hidden;
    background-color: pink;
    z-index: 9999;
    height: 36px;
}
#pause-play{
    width: 36px;
    height: 35px;
    background-image: url("/client/img/vdoBg/videoBtns.png");
}
#pause-play.pause{
    background-position: 148px -87px;
}
#pause-play.pause:hover{
    background-position: 196px -87px;
}
#pause-play.play{
    background-position: 148px -167px;
}
#pause-play.play:hover{
    background-position: 196px -167px;
}
#controls-bar .ctrs{
    float: left;
}
#progress-bar{
    width: 550px;
}
#progress-bar .progress-bg{
    background-color: white;
    width: 500px;
    height: 5px;
    margin: 15px 0 0 10px;
}
#progress-bar .progress-play{
    width: 100px;
    height: 100%;
    background-color: #86A8A8;
}