<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/client/css/index.css" type="text/css"/>
    <title><%= title%></title>
</head>
<body>
<div id="tool-bar">
    <ul>
        <li><a href="/home">首页</a></li>
        <li>查看</li>
        <li>搜索</li>
        <li class="right"><a href="/logout">退出</a></li>
        <li class="right"><%= user.username%></li>
        <li class="right"><a href="/upload">上传视频</a></li>

    </ul>
</div>
<div class="main-content">
    <div class="upload-title">请上传MP4格式的视频</div>
    <form action="/upload" method="post" id="upload-form" enctype="multipart/form-data">
        <div class="wrapper">
            <label class="label-upload">Title</label>
            <input name="file[title]" type="text"/>
        </div>
        <div class="wrapper">
            <label class="label-upload">Description</label>
            <textarea name="file[des]"></textarea>
        </div>
        <div class="upload-div" >
            <div class=" input-upload">
                <input class="btn" name="vdofile" type="file"/>点击这里上传文件
            </div>
            <span class="fileerrorTip"></span>
            <span class="showFileName"></span>
        </div>

        <a class="btn upload" id="btn-upload">Upload</a>
    </form>
</div>
<script type="text/javascript" src="/client/js/jquery-1.7.min.js"></script>
<script type="text/javascript" src="/client/js/main/upload.js"></script>
</body>
</html>