<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Play Video</title>
    <link rel="stylesheet" type="text/css" href="/client/css/video.css"/>
    <script src="/client/js/jquery-3.1.1.min.js" type="text/javascript"></script>
    <script src="/client/js/swfobject.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="/client/css/commentcorelib/style.css" />
    <script type="text/javascript" src="/client/js/CommentCoreLibrary.js"></script>
    <script type="text/javascript" src="http://cdn.bootcss.com/socket.io/1.3.2/socket.io.js"></script>
    <style type="text/css">
        #messages { list-style-type: none; margin: 0; padding: 0; }
        #messages li { padding: 5px 10px; }
        #messages li:nth-child(odd) { background: #eee; }
    </style>
</head>
<body>
<!--
<embed align="middle" src="http://player.youku.com/player.php/sid/XMTMxODU3MzA4NA==/v.swf" width="480" height="400" type="application/x-shockwave-flash" wmode="opaque" loop="-1" allowfullscreen="true" allowscriptaccess="true" quality="high"></embed>
<div id="flashcontent"></div>
<div style="width:700px;height:400px">
    <object width="700" height="400" id="videoPlayer"
            classid="clsid:02BF25D5-8C17-4B23-BC80-D3488ABDDC6B"
            codebase="/client/file" codetype="video/mp4">
        <param name="src" value="/client/file/AOA_0.mp4">
        <param name="controls" value="console">
        <embed name="videoPlayer" src="/client/file/AOA_0.mp4"

               width="700"
               height="400"
               autostart="false"
               paused="true"
               controls="console"
               type="video/mp4"
               swliveconnect="true"
               pluginspage="http://fuguojian.cn/blog2/"
               mastersound>
        </embed>
    </object>
    <input id="pause" type="button" value="Pause"/>
    </div>
    -->
<div id="main-content">
    <div id="content-right">
        <div id="my-player" class="abp" style="height: 600px; background-color:#000">
            <div id="my-comment-stage" class="container">
                <object width="700" height="400" id="videoPlayer"
                        classid="clsid:02BF25D5-8C17-4B23-BC80-D3488ABDDC6B"
                        codebase="/client/file" codetype="video/mp4">
                    <param name="src" value="/client/file/AOA_0.mp4">
                    <param name="controls" value="console">
                    <embed name="videoPlayer" src="/client/file/AOA_0.mp4"

                           width="700"
                           height="400"
                           autostart="false"
                           paused="true"
                           controls="console"
                           type="video/mp4"
                           swliveconnect="true"
                           pluginspage="http://fuguojian.cn/blog2/"
                           mastersound>
                    </embed>
                </object>
            </div>
        </div>
        <ul id="messages"></ul>
    </div>
    <div id="content-left">
        <div id="mesConfig">
            <div class="listOuter">
                <select id="sizes" danmu-size="">

                </select>
            </div>
            <div class="listOuter">
                <select id="colors" danmu-color="">

                </select>
            </div>
            <div class="listOuter">
                <select id="modes" danmu-mode="">

                </select>
            </div>
        </div>
        <div id="messageSend">
            <input type="text" id="msg"/>
            <input type="button" value="Send" id="btnSend"/>
        </div>
    </div>
</div>
</body>
<script type="text/javascript">

    //var so = new SWFObject("/client/file/Wildlife.swf", "mymovie", "400", "100%", "8", "#336699");
    //so.addParam("quality", "low");
    //so.write("flashcontent");
   $(document).ready(function(){
        function getFlashMovieObject(movieName)
        {
            if (window.document[movieName])
            {
                return window.document[movieName];
            }
            if (navigator.appName.indexOf("Microsoft Internet")==-1)
            {
                if (document.embeds && document.embeds[movieName])
                    return document.embeds[movieName];
            }   else // if (navigator.appName.indexOf("Microsoft Internet")!=-1)
            {
                return document.getElementById(movieName);
            }
        }
        //控制
        $("#pause").bind("click", function(){
            alert("pause");
            //var flashMovie = getFlashMovieObject("videoPlayer");
            //console.log(flashMovie.CurrentState);
        });

        $.ajax({
            url: "/videoConfig",
            type: "GET",
            async: true,
            dataType: 'json',
            success: function(data, textStatus, jqXHR){
                //根据数据显示页面
                var modes = data.modes;
                var sizes = data.sizes;
                var colors = data.colors;
                var inits = data.inits;
                for(var i=0; i<modes.length; i++){
                    var item=modes[i];
                    if(inits["mode"]==item["mode"]){
                        $('#modes').append("<option selected='selected' value='"+item["mode"]+"'>"+item["title"]+"</option>");
                    } else {
                        $('#modes').append("<option value='"+item["mode"]+"'>"+item["title"]+"</option>");
                    }

                }
                for(var i=0; i<sizes.length; i++){
                    var item=sizes[i];
                    if(inits["size"]==item["size"]){
                        $('#sizes').append("<option selected='selected' value='"+item["size"]+"'>"+item["title"]+"</option>");
                    } else {
                        $('#sizes').append("<option value='"+item["size"]+"'>"+item["title"]+"</option>");
                    }
                }
                for(var i=0; i<colors.length; i++){
                    var item=colors[i];
                    if(inits["color"]==item["color"]){
                        $('#colors').append("<option selected='selected' value='"+item["color"]+"'>"+item["title"]+"</option>");
                    } else {
                        $('#colors').append("<option value='"+item["color"]+"'>"+item["title"]+"</option>");
                    }
                }
                //init
                $("#modes").attr({"danmu-mode": inits["mode"]});
                $("#sizes").attr({"danmu-size": inits["size"]});
                $("#colors").attr({"danmu-color": inits["color"]});

            },
            error: function(xhr, textStatus){
                console.log("error");
            }
        });
        $("#modes").change(function(){
            var s = $(this).children("option:selected").val();
            $(this).attr({"danmu-mode":s});
        });
        $("#sizes").change(function(){
            var s = $(this).children("option:selected").val();
            $(this).attr({"danmu-size": s});
        });
        $("#colors").change(function(){
            var s = $(this).children("option:selected").val();
            $(this).attr({"danmu-color": s});
        })
   });

        //弹幕
        window.addEventListener("load", function(){

            var CM = new CommentManager(document.getElementById("my-comment-stage"));
            CM.init();
            CM.start();

            window.CM = CM;

            var socket = io();
            socket.on('message show', function(msg){
                console.log(msg);
                $('#messages').append($('<li>').text(msg));
                var danmu = JSON.parse(msg);
                CM.send(danmu);
            });

        });

        var socket = io();
        $("#btnSend").click(function(e){
            e.preventDefault();
           var danMu = {
                "mode": Number($("#modes").attr("danmu-mode")),
                "text": $("#msg").val(),
                "stime": 0,
                "size": Number($("#sizes").attr("danmu-size")),
                "color": parseInt($("#colors").attr("danmu-color"), 16),
                "dur": 10000
            };
            /*var danMu = {
                "mode": 1,
                "text": "hello world",
                "stime": 0,
                "size": 25,
                "color": 0xff00ff,
                "dur": 10000
            };*/
            var msg = JSON.stringify(danMu);
            socket.emit('message send', msg);
            $('#msg').val("");
        })




</script>
</body>
</html>